* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* ====== Global Styles ====== */
section {
  max-width: 1140px;
  margin: 130px auto;
}

ul li {
  list-style: none;
}

/* ====== General Styles ====== */
.btn-primary {
  background: #fff;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
}

/* ====== Header Styles ====== */
.header {
  height: 100vh;
  background-image: url("../images/banner/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* ====== Banner Styles ====== */
.banner {
  color: #fff;
  max-width: 1140px;
  padding-top: 215px;
  margin: 0 auto;
  text-align: right;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
}

.banner-description {
  max-width: 500px;
  margin: 25px 0 30px auto;
}

/* ====== About Styles ====== */
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.section-description {
  color: #444343;
  margin-top: 25px;
  margin-bottom: 15px;
}

.section-description-lists {
  color: #444343;
}

.section-description-lists li i {
  color: #16d887;
}

/* ====== My Planning Styles ====== */
.my-plan-section {
  text-align: center;
}
.my-plan-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.plan-title {
  font-size: 30px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 16px;
  margin-top: 25px;
}

.plan-purpose {
  font-size: 25px;
  font-weight: 500;
  color: #737272;
}

/* ====== Blog Styles ====== */
.blogs-section .section-title {
  text-align: center;
  margin-bottom: 60px;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.blog {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 32%;
}

.blog img {
  width: 70%;
}

.blog-title {
  font-size: 23px;
  padding: 20px 30px;
  font-weight: 600;
  color: #313131;
}

.blog-description {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  color: #737272;
}

.blog a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  display: inline-block;
  padding: 16px 20px;
  border: 2px solid #005fac;
  margin-top: 35px;
  margin-bottom: 40px;
}

.blog a:hover {
  background: #005fac;
  color: #fff;
}

.blog a .fa-solid {
  color: orangered;
  margin-left: 8px;
}

/* ====== Contact Styles ====== */
.contact {
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  border-radius: 8px;
}

.contact .section-title {
  padding-top: 60px;
  padding-left: 65px;
  color: #fff;
}

.contact .btn-primary {
  padding: 20px 35px;
  margin: 25px 0 60px 65px;
}

/* ====== Footer Styles ====== */
footer {
  background: #151414;
  color: #fff;
}

.footer {
  margin-bottom: 0;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
}

.footer-contact .section-title {
  color: #f8f8f8;
  font-size: 45px;
  padding-top: 130px;
}

.footer-contact .section-description {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 25px;
  max-width: 490px;
}

.telephone {
  margin-top: 16px;
  margin-bottom: 32px;
}

.social-link {
  margin-right: 18px;
}

.footer-form .section-title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-top: 130px;
  margin-bottom: 30px;
}

input {
  font-size: 18px;
  color: #f3f3f3;
  padding: 21px;
  background: none;
  border: 1px solid #fff;
  display: block;
  margin-bottom: 16px;
}

.footer-form .btn-primary {
  padding: 20px 36px;
  background: #005fac;
  color: #fff;
  border-radius: 8px;
}
